<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Tongsu</li>
            <li class="active">Email</li>
        </ol>
        <h1 class="page-title">Email - <span class="fw-semi-bold">Inbox</span></h1>
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <a class="btn btn-danger btn-block" id="compose-btn" href="<%= new_message_path %>">Compose</a>

                <ul class="nav nav-pills nav-stacked nav-email-folders mt" id="folders-list">
                    <li class="active">
                        <a href="<%= messages_path %>">
                            <span class="badge pull-right"><%= @inbox_not_read %></span>
                            Inbox
                        </a>
                    </li>
                    <!--<li><a href="#">Starred</a></li>-->
                    <li><a href="<%= sent_messages_path %>">Sent Mail</a></li>
                    <li><a href="<%= import_messages_path %>">
                        <span class="badge pull-right"><%= @import_not_read %></span>
                        Import</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-lg-10">
                <div class="clearfix mb-xs">
                    <a class="btn btn-default btn-sm width-50 pull-left" id="back-btn" href="inbox.html">
                        <i class="fa fa-angle-left fa-lg"></i>
                    </a>
                    <div class="pull-right hide" id="folder-stats">
                        <p class="widget-email-count">Showing 1 - 10 of 96 messages</p>
                        <ul class="pagination pagination-sm widget-email-pagination">
                            <li class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <section class="widget widget-email">
                    <header>
                        <h4>Compose <span class="fw-semi-bold">New</span></h4>
                    </header>
                    <div class="widget-body">
                        <%= form_for @message, url: messages_path(@message), html: { class: "form-email-compose", id: "email-compose" } do |f| %>
                            <div class="form-group">
                                <%= f.email_field :to, class: "input-transparent form-control", placeholder: "To", autofocus: true %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :subject, class: "input-transparent form-control", placeholder: "Subject" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_area :content, class: "form-control", placeholder: "Message", rows: "10" %>
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar pull-right">
                                    <button type="reset" id="compose-discard-button" class="btn btn-gray">Discard</button>
                                    <button type="button" id="compose-save-button" class="btn btn-gray">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                                    <%= f.submit "Send", class: "btn btn-danger" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>