<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>Tongsu</li>
            <li class="active">Email</li>
        </ol>
        <h1 class="page-title">Email - <span class="fw-semi-bold">Inbox</span></h1>
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <a class="btn btn-danger btn-block" href="inbox.html">
                    Compose
                </a>
                <ul class="nav nav-pills nav-stacked nav-email-folders mt">
                    <li class="active">
                        <a href="<%= messages_path %>">
                            <span class="badge pull-right"><%= @current_users_messages.where(is_read: false).count %></span>
                            Inbox
                        </a>
                    </li>
                    <li><a href="#">Starred</a></li>
                    <li><a href="#">Sent Mail</a></li>
                    <li>
                        <a href="#">
                            <!-- <span class="badge pull-right">3</span> -->
                            Draft
                        </a>
                    </li>
                    <li><a href="#">Trash</a></li>
                </ul>
                <h5 class="mt">QUICK VIEW</h5>
                <ul class="nav nav-pills nav-stacked nav-email-folders mb-lg fs-mini">
                    <li><a href="#"><i class="fa fa-circle text-danger pull-right"></i> Work </a></li>
                    <li><a href="#"><i class="fa fa-circle text-white pull-right"></i> Private </a></li>
                    <li><a href="#"><i class="fa fa-circle text-gray-light pull-right"></i> Saved </a></li>
                </ul>
            </div>
            <div class="col-md-9 col-lg-10">
                <div class="clearfix mb-xs">
                    <a class="btn btn-default btn-sm width-50 pull-left" id="back-btn" href="<%= messages_path %>">
                        <i class="fa fa-angle-left fa-lg"></i>
                    </a>
                    <div class="pull-right hide" id="folder-stats">
                        <p class="widget-email-count">Showing 1 - 10 of 96 messages</p>
                        <ul class="pagination pagination-sm widget-email-pagination">
                            <li class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <% @messages.each do |message| %>
                <section class="widget widget-email">
                    <header>
                        <h4><%= message.subject %></h4>
                        <div class="widget-controls">
                            <a href="#"><i class="fa fa-print"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div id="email-view" class="email-view">
                            <div class="email-details clearfix">
                                <div class="email-details-content">
                                    <span class="thumb thumb-sm pull-left">
                                        <img class="img-circle" src="<%= asset_path 'common/people/a5.jpg' %>" alt="Philip Horbacheuski">
                                    </span>
                                    <div class="pull-left">
                                        <strong><%= message.from_name %></strong>
                                        <span class="email">&lt;<%= message.from %>&gt;</span>
                                        <span class="receiver">to <%= message.to %></span>
                                    </div>
                                    <div class="email-actions pull-right">
                                        <div class="btn-group">
                                            <button id="email-opened-reply" class="btn btn-sm btn-gray">
                                                <i class="fa fa-reply"></i> Reply
                                            </button>
                                            <button class="btn btn-sm btn-gray dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#"><i class="fa fa-reply reply-btn"></i> Reply</a></li>
                                                <li><a href="#"><i class="fa fa-arrow-right reply-btn"></i> Forward</a></li>
                                                <li><a href="#"><i class="fa fa-print"></i> Print</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                                <li><a href="#"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <time class="email-date pull-right">
                                        <%= message.date.strftime("%k:%M") %>
                                    </time>
                                </div>
                            </div>
                            <div class="email-body" style="font-size:14px !important;">
                                <p><%= message.content.html_safe %></p>
                            </div>
                            <% if message.attaches.present? %>
                            <div class="email-attachments">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <hr>
                                        <p class="details"><strong><%= message.attaches.count %> attachments</strong> &nbsp;-&nbsp; <a href="#">Download all attachments</a>
                                            &nbsp;&nbsp;&nbsp;<a href="#">View all Images</a></p>
                                        <% message.attaches.each do |file| %>
                                        <section class="attachment">
                                            <% if file.content_content_type.start_with?('image/') %>
                                            <%= image_tag file.content.url, class: "img-responsive" %>
                                            <% end %>
                                            <h5 class="title"><%= file.content_file_name %></h5>
                                            <p class="details">
                                                568K  &nbsp;&nbsp;
                                                <a href="#">View</a> &nbsp;&nbsp;
                                                <a href="#">Download</a>
                                            </p>
                                        </section>
                                        <% end %>
                                    </div>
                                </div>
                            </div> 
                            <% end %>
                        </div>
                    </div>
                </section>
                <% end %>
            </div>
        </div>
    </main>
</div>