<!-- users/sign_up -->

<style type="text/css">
.form-control{
	width: 80%;
	font-size: 12px;
}
.form-group{
	margin-bottom:7px;
}
.sign_up_font{
	font-size: 16px;
}
.widget-body{
	padding: 10px 10px 0px 20px;
	margin-bottom: 20px;
}
</style>

<div class="content-wrap">
	<!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
	<main id="content" class="content" role="main">
		<div class="row">
			<div class="col-lg-5 col-sm-8 col-xs-10 col-lg-offset-3 col-sm-offset-4 col-xs-offset-1" style="min-width:500px;">
	              <h2 class="widget-login-logo animated fadeInUp">
	                  <i class="fa fa-circle text-gray"></i> Tongsu <i class="fa fa-circle text-warning"></i>
	              </h2>
			
				<section class="widget widget-login animated fadeInUp">
					<header style="margin-bottom: 20px;"> 
						<h4>Sign up to Tongsu</h4> 
					</header>
					<%= form_for(resource, as: resource_name, class: "login-form mt-lg", url: registration_path(resource_name)) do |f| %>
						<%= devise_error_messages! %>
						<div class="widget-body">
							<div class="form-group">
								<label class="sign_up_font" for="user_user_id">ID</label><br />
								<%= f.text_field :uid, autofocus: true, class: "form-control", style: "display:inline; width:68%" %>
								<%= f.button "중복확인", type: "button", onclick: "duplication_id()", class: "btn btn-danger btn-sm", style: "font-size:13px; margin-bottom:3px;" %>
								<input type="hidden" id="duplication_id_check" value="false">
							</div>

							<div class="form-group">
								<%= f.label :password, class: "sign_up_font" %>
								<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "※ 비밀번호는 최소 8자 이상 입력하세요." %>
							</div>

							<div class="form-group">
								<%= f.label :password_confirmation, class: "sign_up_font" %><br />
								<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
							</div>
							
							<div class="form-group">
								<%= f.label :Name, class: "sign_up_font" %>
								<%= f.text_field :name, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :email, class: "sign_up_font" %>
								<%= f.text_field :email, class: "form-control" %>
							</div>
							<div class="clearfix">
								<br />
								<%= f.submit "Sign up", class: "btn btn-inverse btn-sm", id: "submit", style: "display:inline; font-size:14px;" %>
							</div>
						</div>
					
					<% end %>
				</section>
			</div>
		</div>
	</main>
</div>


<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
	<i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>
<script>

function duplication_id(){
	var id = $('#user_uid').val();
	$.ajax({
		url: "/users/id_check",
		type: "POST",
		data: {uid: id},
		success: function(data) {
			document.getElementById("duplication_id_check").value = "true";
			alert("사용가능한 ID입니다.");
		},
		error: function(data){
			document.getElementById("duplication_id_check").value = "false";
			alert("중복된 ID가 있습니다. 다른 ID를 입력해주세요.");
		}
	});
}
</script>