<!DOCTYPE html>
<!--
	Apache License
                           Version 2.0, January 2004
                        http://www.apache.org/licenses/
-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag 'index/bootstrap.min.css' %>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'index/font-awesome.min.css' %>


    <!-- Plugin CSS -->
    <%= stylesheet_link_tag 'index/animate.min.css' %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'index/creative.css' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <header>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="<%= root_path %>">Tongsu</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="<%= new_user_session_path %>">Sign in</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="<%= new_user_registration_path %>">Sign up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="services">
        <div class="container" style="margin-top: 80px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sign Up</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    	<%= devise_error_messages! %>
                        <div class="form-group">
                        	<label>ID</label><br />
                            <%= f.text_field :uid, autofocus: true, class: "form-control", style: "display:inline; width:80%"  %>
                            <%= f.button "Check", type: "button", onclick: "duplication_id()", class: "btn btn-inverse btn-sm", style: "font-size:13px; border-radius: 3px; padding-bottom: 7px; padding-top: 8px;" %>
								<input type="hidden" id="duplication_id_check" value="false">
                        </div>
                        <div class="form-group">
                        	<label>Password</label>
                        	<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "must be at least 8 characters long" %></p>

                        </div>
                        <div class="form-group">
								<%= f.label :password_confirmation, class: "sign_up_font" %><br />
								<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
							</div>
							
							<div class="form-group">
								<%= f.label :Name, class: "sign_up_font" %>
								<%= f.text_field :name, class: "form-control" %>
							</div>
							<div class="form-group">
								<%= f.label :email, class: "sign_up_font" %>
								<%= f.text_field :email, class: "form-control" %>
							</div>
                        <div class="clearfix">
                            <div class="pull-right">
                                <br />
								<%= f.submit "Sign up", class: "btn btn-danger btn-sm", id: "submit", style: "display:inline; font-size:14px;" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:kkd927@tongsu.tk">kkd927@tongsu.tk</a></p>
                </div>
            </div>
        </div>
    </section>

</header>

	<script>

	function duplication_id(){
		var id = $('#user_uid').val();
		$.ajax({
			url: "/users/id_check",
			type: "POST",
			data: {uid: id},
			success: function(data) {
				document.getElementById("duplication_id_check").value = "true";
				alert("사용가능한 ID입니다.");
			},
			error: function(data){
				document.getElementById("duplication_id_check").value = "false";
				alert("중복된 ID가 있습니다. 다른 ID를 입력해주세요.");
			}
		});
	}
	</script>

    <!-- jQuery -->
    <%= javascript_include_tag 'index/jquery.js' %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag 'index/bootstrap.min.js' %>

    <!-- Plugin JavaScript -->
    <%= javascript_include_tag 'index/jquery.easing.min.js' %>
    <%= javascript_include_tag 'index/jquery.fittext.js' %>
    <%= javascript_include_tag 'index/wow.min.js' %>

    <!-- Custom Theme JavaScript -->
    <%= javascript_include_tag 'index/creative.js' %>

</body>

</html>
