<% @replys.each do |r| %>
<li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img class="img-circle" src="<%= asset_path 'avatar.png' %>">
    </span>
    <div class="comment-body">
        <h6 class="author fw-semi-bold"><%= r.from_name.nil? ? r.from.split("@").first.titleize : r.from_name %> <small style="margin-left:8px;"><%= time_ago_in_words(r.created_at) %> ago</small></h6>
        <p><%= Nokogiri::HTML::DocumentFragment.parse(r.content).to_html.html_safe %></p>
    </div>
</li>
<% end %>

<li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img class="img-circle" src="<%= asset_path 'avatar.png' %>">
    </span>
    <div class="comment-body">
        <input class="form-control input-sm" type="text" placeholder="Write your comment...">
    </div>
</li>